

.banner-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.header{
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    padding: 50px 240px 0px ;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.first-section{
    text-align: center;
    width: 1440px;
    margin: 0px auto;


}

.rectangle{

border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
margin-right: 24px;
height: 538px;
width: 464px;

}
.rectangle-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 240px;
    margin: 50px 240px;
    
}
#ak{
    background: #0597A026;
}
#dui{
    background: #477D1126;
}
#tin{
    background: #A7216226;
}


.extra-section{
    display: flex;
    text-align: justify;
    border: 0px auto;
    margin: 50px;
    gap: 50px;
    padding-right: 20px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 50px 240px;
    margin: 50px 240px;
    

}


.paragraph{
    display: flex;
    text-align: justify;
    border: 0px auto;
    margin: 50px;
    gap: 50px;
}

.third-section{
    display: flex;
    text-align: center;
    background-color: #2727270D;
   
    
}
 .third-head{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
   
 }
 .jokes{
    color: #E55473;
 }
.description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
padding-left: 50px;

font-size: 18px;

font-weight: 400;

}
.position{
    padding-left: 50px;
}


.fourth-section{
    text-align: center;
    margin: 50px 240px;
    
}
.image{
    display: flex;
    margin: 50px;
    margin-right: 24px;
    justify-content: space-between;
    border: 0px auto;
    gap: 24px;
    width: 100px;
    
}

.image-write{
 text-align: center;
 border-radius: 8px;
 background-image: url('../Flower Asset/Rectangle\ 9.png');
 padding: 50px 240px;
 margin: 50px 240px;
}


label{
    display: block;
    margin-bottom: 10px;
   
}

.footer{
    background: #111010;
}
#color-flower{
  color: #E55473;  
}
.footer-title,.footer-description{
    text-align: center;
    color: #FFFFFF;
}
.footer-last{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;

}